@import "src/assets/colors";
@import "src/assets/mixins.scss";

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.forgot{
  @include b1;
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  color: $secondary;
  align-self: flex-start;
}
.button{
  margin-top: 40px ;
  margin-bottom: 32px;
width: 100%;
}

.signUpBtn{
text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 4px;
  &:visited{
    color: $primary;
  }
  &:hover{
    color: $primary-secondary;
  }
}
.text{
  @include b1;
  color: $secondary;
}
