@import "src/assets/colors";
@import "src/assets/mixins.scss";

.container {
  display: flex;
  flex: 1;
  align-items: center;
  height: 56px;
  //max-width: 438px;
  max-width: 1000px;
}

.input {

  display: flex;
  flex: 1;
  height: 56px;
  background-color: $graphite;
  padding-left: 20px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: $white;

  &::placeholder {
    @include s3;
    color: $secondary;
    font-weight: 500;
    margin-left: 20px;
  }
  &:focus{
    border: 2px solid $primary;
  }
  &:active{
    border: none;
  }
}

.inputDisabled{
  background: $secondary;
  &::placeholder {
    color: $light;
  }
}
.inputError{
border: 2px solid $error;
}

.filter{
  display: flex;
  margin-left: -40px;
  height: 24px;
  width: 24px;
  &:hover {
    cursor: pointer;
    svg > path {
      stroke: $white;
    }}

}