@import "src/assets/colors";
@import "src/assets/mixins";

.container{
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  gap: 56px;
}
.recommended{
  display: flex;
  flex-direction: column;
  gap: 40px;
  & > img {

    width: 100%;

    height: 100%;}
}
.text{
  @include h2;
}
.textLight{
  color: $dark;
}