@import "src/assets/colors";
@import "src/assets/mixins";

.primaryButton {
  @include button;
    &:not(.disabledButton):hover{
    background: $primary-secondary;
  }
}

.secondaryButton{
  @include button;
  background: $graphite;
  &:not(.disabledButton):hover{
    color: $light;
    background: $graphite;
  }
}

.disabledButton {
  color: $light;
  background: $secondary;
  &:hover {
    cursor: not-allowed;
  }
}
.leftPart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 60px;
  background-color: $graphite;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:hover{
    svg > path {
      fill: $white;
    }
  }}
.rightPart{
  display: flex;
  width: 132px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: $graphite;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover{
    svg > path {
      stroke:$white;
    }
    svg > circle {
      stroke:$white;
    }
  }}

.disabledButtonShare{
  background-color: $secondary;
  pointer-events: none;
  &{
    svg > path {
      fill: $light;
      stroke:$light;
    }
  }
}
