@import "src/assets/colors";
@import "src/assets/mixins";

.primaryButton {
  @include button;
    &:not(.disabledButton):hover{
    background: $primary-secondary;
  }
  &:hover:active{
    background: $primary;
    box-shadow: inset 0px 0px 5px $dark;
  }
}

.secondaryButton{
  @include button;
  background: $graphite;
  &:not(.disabledButton):hover{
    color: $white;
    background: $graphite-secondary;
  }
  &:hover:active{
    background: $graphite;

  }
}

.disabledButton {
  color: $light;
  background: $secondary;
  &:hover {
    cursor: not-allowed;
  }
}
.leftPart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 60px;
  background-color: $graphite;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:hover{
    background-color: $primary-secondary;
    svg > path {
      fill: $white;
    }
  }
  &:hover:active{
    background: $primary;
  }
}

.highlightedButtonShare{
  background-color: $primary;
  svg > path {
    fill: $white;
  }
}
.highlightedButton{
  background-color: $dark;
  color: $secondary;
}
.rightPart{
  display: flex;
  width: 132px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: $graphite;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover{
    background-color: $primary-secondary;
    svg > path {
      stroke:$white;
    }
    svg > circle {
      stroke:$white;
    }
  }
  &:hover:active{
    background: $primary;
  }}

.disabledButtonShare{
  background-color: $secondary;
  pointer-events: none;
  &{
    svg > path {
      fill: $light;
      stroke:$light;
    }
  }
}

.buttonLight{
  background-color: $white;
  outline: 1px solid $dark;
  border-right: none;
}