@import "src/assets/colors";
.container {
  display: flex;
}
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $secondary;
  transition: .4s;
  &:hover{
    background-color: $light;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: $white;
  transition: .4s;
}
input:checked + .slider {
  background-color: $primary;
  &:hover{
    background-color: $primary-secondary;}
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
///disabled styles
input:disabled + span{
  background: $secondary;
  pointer-events: none;
}
input:disabled + .slider:before {
  background-color: $light;}
input:checked:disabled + .slider:before {
  background-color: $primary-secondary;}