@import "src/assets/mixins";
@import "src/assets/colors";

.container{
  @include h1();
  width: 200px;
  height: 200px;
  background-color: green ;
}

.svgFill{
  @include svgFill
}
.svgFillBookmark{
  @include svgFillBookmark
}

.button{
  width: 200px;
}