@import "src/assets/colors";
@import "src/assets/mixins";

.cardText {
  color: $white;
}
.cardTextLight{
  color: $dark;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 266px;
  width: 100%;
  max-height: 433px;
  height: 100%;
  gap: 20px;
  &:hover {
    cursor: pointer;
    .cardText{
      color: $primary;
    }
  }

  & > img {
    max-width:266px ;
    width: 100%;
    max-height: 357px;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
    transition: opacity .2s linear;
  }
  & > img:hover {
    opacity: 0.7;
  }
  //backup image on error
  & > img:after{content: ' ';
    display: flex;
    height: 330px;
    max-width: 266px;
    width: 100%;
    border-radius: 10px;
    background-image: url('../../assets/oops.png');
    background-position: center;
    background-size: auto;
  }

}

.rating {
  @include s3;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 28px;
  color: $white;
  background-color: $green;
  border-radius: 6px;
  box-shadow: 0 0 10px 10px rgba(34, 60, 80, 0.2);
  z-index: 2;
  svg > path {
    fill: $white;
  }
}
.trendsRating{
  background-color: $primary;
  width: 57px;
}
.mediocreRating{
  background-color: $yellow;
}
.badRating{
  background-color: $orange;
}
.noneRating{
  display: none;
}

.favorite{
  display: flex;
  top: 20px;
  right: 20px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 28px;
  color: $white;
  background-color: $graphite;
  border-radius: 6px;
  box-shadow: 0 0 10px 10px rgba(34, 60, 80, 0.2);
  z-index: 2;
  svg > path {
    fill: $primary;
  }
}


