//System Colors (системные цвета)
$primary: #7B61FF;
$primary-secondary: #917CFF;
$secondary: #80858B;

//Background Colors (фоновые цвета)
$black: #000000;
$dark: #242426;
$graphite: #323537;
//Contextual Colors (контекстные цвета)
$error: #FF5154;
$light: #AFB2B6;
$white: #FFFFFF;
//Tertiary Colors (третичные цвета)
$green: #00A340;
$yellow: #F3A608;
$orange: #F45D2D;