@import "src/assets/colors";
@import "src/assets/mixins";

.container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 56px;
  width: 100%;
  gap: 40px;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 10px;
    height: 100%;
}}

.headerLight {
  & input {
    color: $dark;
    background-color: $white;
    outline: 2px solid $light;
  }
}

.siteLogo {
  max-width: 284px;
  width: 100%;
}

.userBlock {
  display: flex;
  max-width: 266px;
  @media (max-width: 960px) {
    display: none;
  }
}

.burgerMenu {
  display: none;
  @media (max-width: 960px) {
    display: flex;
  }
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.siteLogoTablet{
  display: none;
  width: 158px;
  height: 56px;
  @media (max-width: 768px) {
    display: flex;
  }
}
.headerMobileSignIn{
  @media (max-width: 768px) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.userMobileHidden {
  display: none;
  position: absolute;
  top: 110px;
  right: 0;
  width: 200px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  outline: 2px solid $primary-secondary;
  background-color: $graphite;
  z-index: 3;
  animation: slide-out 0.5s forwards;
  @keyframes slide-out {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
}

.userMobile {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
}

.userNameMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  @include h3;
}

.logoutMobile {
  & :first-child {
    display: flex;
    width: 150px;
    height: 30px;
  }
}

.userIcon {
  width: 155px;
  position: relative;
  @include s2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 56px;
  @media (max-width: 400px) {
    gap: 10px;
  }
  &:hover {
    .userName {
      color: $primary-secondary;
    }
    cursor: pointer;
  }
}

.userIconLight {
  color: $dark;
}

.userNameLight {
  color: $dark;
}

.arrowRight {
  border: solid $light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.arrowDown {
  border: solid $light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.buttonsWrapper {
  display: flex;
  background-color: $graphite;
  border-radius: 10px;
  flex-direction: column;
  gap: 1px;
  position: absolute;
  top: 110px;
  width: 267px;
  z-index: 3;
  box-shadow: 0 0 2px 2px;

  & :first-child {
    border-radius: 10px 10px 0 0;
    background-color: $dark;
  }

  & :last-child {
    border-radius: 0 0 10px 10px;
    background-color: $dark;
  }

  & :first-child:not(.disabledButton):hover {
    background-color: $dark;
    color: $primary;
  }

  & :last-child:not(.disabledButton):hover {
    background-color: $dark;
    color: $primary;
  }
}

.buttonsLight {
  & :first-child {
    color: $dark;
    background-color: $white;
  }

  & :last-child {
    color: $dark;
    background-color: $white;
  }

  & :first-child:not(.disabledButton):hover {
    background-color: $light;
    color: $primary;
  }

  & :last-child:not(.disabledButton):hover {
    background-color: $light;
    color: $primary;
  }
}

.userIcon > .buttonsWrapper:first-child:hover {
  color: green;
}

.hidden {
  display: none;
}

.searchBtn {
  display: flex;
  position: absolute;
  right: 50px;

  &:hover {
    svg > path {
      transition: all 0.3s;
      stroke: $primary;
    }
  }
}

.filterBtn {
  display: flex;
  position: absolute;
  right: 20px;

  &:hover {
    svg > path {
      transition: all 0.3s;
      stroke: $primary;
    }
  }
}

.select {
  position: fixed;
  width: 300px;
  z-index: 3;
}

.selectContainer {
  position: fixed;
  z-index: 5;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);;
  width: 100%;
  height: 100%;
}

.searchWrapper {
  position: relative;
  max-width: 1184px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  & input{
    padding-right: 75px;
  }
}
