@import "src/assets/colors";
@import "src/assets/mixins";

.container {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 56px;
  width: 100%;
  margin-bottom: 64px;
}

.siteLogo {
  margin-right: 126px;
}

.userIcon {
  position: relative;
  @include s2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  height: 56px;

  &:hover {
    .userName {color: $primary-secondary;}
    cursor: pointer;
  }
}

.arrowRight {
  border: solid $light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.arrowDown {
  border: solid $light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.buttonsWrapper {
  display: flex;
  background-color: $graphite;
  border-radius: 10px;
  flex-direction: column;
  gap: 1px;
  position: absolute;
  top: 110px;
  width: 267px;
  z-index: 3;
  box-shadow: 0 0 2px 2px;
  & :first-child{
    border-radius: 10px 10px 0 0;
    background-color: $dark;
  }
  & :last-child{
    border-radius: 0 0 10px 10px;
    background-color: $dark;
  }
  & :first-child:not(.disabledButton):hover{
    background-color: $dark;
    color: $primary;
  }
  & :last-child:not(.disabledButton):hover{
    background-color: $dark;
    color: $primary;
  }
}
.userIcon>.buttonsWrapper:first-child:hover{
  color: green;
}
.hidden{
  display: none;
}

.searchBtn{
  display: flex;
  position: relative;
  left: -50px;
  &:hover{
  svg > path  {
    transition: all 0.3s;
    stroke: $primary;
  }
  }
}