@import "src/assets/colors";
@import "src/assets/mixins";

.container{
  display: flex;
}
.header{
  display: flex;
  grid-area: search;
  flex-direction: row;
  height: 56px;
  width: 100%;
  margin-bottom: 64px;
}

.siteLogo {
  margin-bottom: 64px;
  margin-right: 126px;
}

.userIcon{
  height: 56px;
}