body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2'), url(./assets/fonts/Exo2.ttf) format('truetype');
}
*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline:none;
}

img {
  max-width: 100%;
  display: block;
}
body{
  height: 100%;
}

